<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gcaa.status.metrics.mapper.StatusMapper">
	<insert id="save" parameterType="com.gcaa.metrics.domain.model.Status">
		insert into STATUS (
		HOST_ID,
		TYPE_ID,
		CATEGORY_ID,
		DATE_TIME,
		VALUE,
		INFO
		<if test="measurement != null">,MEASUREMENT_ID
		</if>
		)
		values (
		#{host.id},
		#{type.id},
		#{category.id},
		#{dateTime},
		#{value},
		#{info}
		<if test="measurement != null">, #{measurement.id}
		</if>
		)
		
	</insert>
	
</mapper>	