<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gcaa.status.metrics.mapper.StatusMapper">
	<insert id="save" parameterType="com.gcaa.metrics.domain.model.Status">
		insert into STATUS (
		HOST_ID,
		TYPE_ID,
		CATEGORY_ID,
		DATE_TIME,
		VALUE,
		INFO
		)
		values (
		#{host.id},
		#{type.id},
		#{category.id},
		#{dateTime},
		#{value},
		#{info}
		)
	</insert>
	
</mapper>	